{% extends 'layout.html' %}

{% block body %}
  <div class="container" style="width: 700px; margin: auto;">
    <h4 style="font-size: 25px !important; margin-top: 90px;">Add Message</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.name, class_="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.message_content, class_="form-control", id="editor") }}
    </div>
    <div class="form-group">
      {{ render_field(form.group_, class_="form-control") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit">
  </form>
  </div>
{% endblock %} 