{% extends 'layout.html' %}
{% block body %}

<div class="container message-board-wrapper">
	<div class="text-center message-section">
		<h1>Messages</h1>
		{% if session.logged_in %}
		<ul class="list-group message-format" style="list-style: none;">
		{% for message in messages%}
			<h3 style="font-size: 18px;">{{ message.name }}</h3>
			<li class="list-group-item">
				<span style="color: #a0a0a0;">
					Posted by: {{ message.creator }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Date: {{ message.date_created }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span>
				<br>
				<br>
				<div style="font-size: 14px;">{{ message.message_content}}</div>
			</li>
			
			<ul class="text-right" style="margin-bottom: 20px;">
				<li style="display: inline-block;">
					<form action="{{ url_for('upvote', id=message.name) }}" method="post">
						<input type="hidden" name="_method" value="UPVOTE">
						{{ message.likes }}&nbsp;
						<button type="submit" style="color: #696969; border: none; background: none;"><i class="fas fa-thumbs-up"></i></button>&nbsp;&nbsp;
					</form>
				</li>
				<li style="display: inline-block;">
					<form action="{{ url_for('downvote', id=message.name) }}" method="post">
						<input type="hidden" name="_method" value="DOWNVOTE">
						{{ message.dislikes }}&nbsp;
						<button type="submit" style="color: #696969; border: none; background: none;"><i class="fas fa-thumbs-down"></i></button>
					</form>
				</li>
				<li style="display: inline-block;">
					<form action="{{ url_for('delete_message', id=message.name) }}" method="post">
						<input type="hidden" name="_method" value="DELETE">
						<button type="submit" style="color: #696969; border: none; background: none;"><i class="fas fa-trash"></i></button>
					</form>
				</li>
			</ul>		
		{% endfor %}
		</ul>
	</div>
	<div>
		<li style="display: inline-block;"><h2 style="font-size: 15px;">Your Groups:</h2></li>
		<li style="display: inline-block;">
			<ul>
				{% for groupname in groups %}
				<li style="display: inline-block; margin-right: 15px; color: #696969;">
					<form action="{{ url_for('leave_group', id=groupname) }}" method="post">
						{{ groupname }}
						<input type="hidden" name="_method" value="LEAVE_GROUP">
						<button type="submit" name="" style="border: none; background: none; color: #333;"><i class="fas fa-times" style="font-size: 12px;"></i></button>
					</form>
				</li>
				{% endfor %}
			</ul>
		</li>	
	</div>
	<div>
		<li style="display: inline-block;"><h2 style="font-size: 15px;">Join Groups:</h2></li>
		<li style="display: inline-block;">
			<ul>
				{% for groupname_all in all_groups %}
					<li style="display: inline-block; margin-right: 15px; color: #696969;">
						<form action="{{ url_for('join_group', id=groupname_all) }}" method="post">
							{{ groupname_all }}
							<input type="hidden" name="_method" value="JOIN_GROUP">
							<button type="submit" name="" style="border: none; background: none; color: #333;"><i class="fas fa-plus" style="font-size: 12px;"></i></button>
						</form>
					</li>
				{% endfor %}	
			</ul>
		</li>
	</div>
	<div style="margin-bottom: 10px;">
		<li style="display: inline-block; margin-right: 20px;"><a href="/add_message" style="font-size: 13px; color: #333; text-decoration: underline;">Post message</a></li>
		<li style="display: inline-block;"><a href="/logout" style="font-size: 13px; color: #333; text-decoration: underline;">Logout</a></li>

	</div>
	{% else %}
	<div style="margin-top: 15;">
		Please <a href="/login">log in</a> or <a href="/register">register</a> to continue.		
	</div>
	{% endif %}
</div>

<!--<h1>Messages</h1>
<a href="/logout">Logout</a>--> <!-- If session logged in -->
<!--
<ul class="list-group">
	<div>
		Join groups:
		{% for groupname in all_groups %}
		<li>{{ groupname }}</li>
		<form action="{{ url_for('join_group', id=groupname) }}" method="post">
			<input type="hidden" name="_method" value="JOIN_GROUP">
			<input type="submit" name="" value="+" class="btn">
		</form>
		{% endfor %}
		
		Your groups:
		{% for groupname in groups %}
		<li>{{ groupname }}</li>
		<form action="{{ url_for('leave_group', id=groupname) }}" method="post">
			<input type="hidden" name="_method" value="LEAVE_GROUP">
			<input type="submit" name="" value="X" class="btn">
		</form>
		{% endfor %}
	</div>
	{% for message in messages%}
		<li class="list-group-item">{{ message.name }}</li>
		<li>{{ message.vote_count }}</li>
		<form action="{{ url_for('upvote', id=message.name) }}" method="post">
			<input type="hidden" name="_method" value="UPVOTE">
			<input type="submit" name="" value="Thumbs up" class="btn">
		</form>
		<form action="{{ url_for('downvote', id=message.name) }}" method="post">
			<input type="hidden" name="_method" value="DOWNVOTE">
			<input type="submit" name="" value="Thumbs down" class="btn">
		</form>
		<form action="{{ url_for('delete_message', id=message.name) }}" method="post">
			<input type="hidden" name="_method" value="DELETE">
			<input type="submit" name="" value="Delete" class="btn btn-danger">
		</form>
	{% endfor %}
</ul>
<a href="/add_message">Add Message</a> -->
{% endblock %}